################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/ImagesAnimation/obj/Debug
/ImagesAnimation/bin/Debug
/ImagesAnimation/obj/Release
/KllProgress/obj
/NongLi/obj
